name: release-artifacts

on:
  workflow_dispatch:
    inputs:
      currentDevelopmentVersion:
        description: 'The current development version'
        required: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, ubuntu-24.04-arm ]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: camel-integration-capability-${{ github.event.inputs.currentDevelopmentVersion }}
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Set arch
        id: arch
        run: echo "arch=$(uname -m)" >> $GITHUB_OUTPUT
      - name: Login to Container Registry
        if: github.repository == 'wanaku-ai/camel-integration-capability'
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Build containers
        if: github.repository == 'wanaku-ai/camel-integration-capability'
        run: podman build -t quay.io/wanaku/camel-integration-capability:${{ github.event.inputs.currentDevelopmentVersion }}-${{ steps.arch.outputs.arch }} .
      - name: Push containers
        if: github.repository == 'wanaku-ai/camel-integration-capability'
        run: podman push quay.io/wanaku/camel-integration-capability:${{ github.event.inputs.currentDevelopmentVersion }}-${{ steps.arch.outputs.arch }}

  createManifests:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Login to Container Registry
        if: github.repository == 'wanaku-ai/camel-integration-capability'
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Build and Push Manifests
        run: |
          chmod +x build-manifests.sh
          ./build-manifests.sh ${{ github.event.inputs.currentDevelopmentVersion }}